<?xml version="1.0" encoding="utf-8"?>
<configuration>
        <configSections>
        </configSections>
        <connectionStrings>
                <add name="StockControl.Properties.Settings.dbStockControlConnectionString1"
                        connectionString="Data Source=mac-pc;Initial Catalog=dbStockControl;User ID=sa"
                        providerName="System.Data.SqlClient" />
                <add name="StockControl.Properties.Settings.dbStockControlConnectionString2"
                        connectionString="Data Source=mac-pc;Initial Catalog=dbStockControl;User ID=sa;Password=;"
                        providerName="System.Data.SqlClient" />
                <add name="StockControl.Properties.Settings.dbStockControlConnectionString"
                        connectionString="Data Source=mac-pc;Initial Catalog=dbStockControl;User ID=sa"
                        providerName="System.Data.SqlClient" />
                <add name="StockControl.Properties.Settings.dbStockControlConnectionString3"
                        connectionString="Data Source=mac-pc;Initial Catalog=dbStockControl;User ID=sa"
                        providerName="System.Data.SqlClient" />
        </connectionStrings>
        <startup>
            
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
